In [35]:
import pandas as pd

In [36]:
df = pd.read_csv('fare_stages.csv')
df.head()

,ID,LOCATION_TEXT,ADDRESS,STATUS,NAME,ROUTE_DIRECTION,SEQUENCE,IS_STAGE_POINT,STAGE_NUMBER,JOURNEY_PATTERN_ID,RTPI_DESTINATION,RTPI_ORGIN,RTPI_VIA,SEQUENCE_NUMBER,FARE
0,226,Shanard Avenue,Shanard Road,ACTIVE,1,O,10.0,Y,17.0,00010001,Sandymount,Santry,O'Connell St,0,0.0
1,228,Oldtown Avenue,Shanliss Rd,ACTIVE,1,O,20.0,N,NaN,00010001,Sandymount,Santry,O'Connell St,1,0.0
2,229,Oldtown Road,Shanliss Rd,ACTIVE,1,O,30.0,N,NaN,00010001,Sandymount,Santry,O'Connell St,2,0.0
3,227,Shanliss Drive,Shanliss Rd,ACTIVE,1,O,40.0,N,NaN,00010001,Sandymount,Santry,O'Connell St,3,0.0
4,230,Shanowen Road,Shanliss Rd,ACTIVE,1,O,50.0,N,NaN,00010001,Sandymount,Santry,O'Connell St,4,0.0

In [37]:
df1 = df[['ID','STAGE_NUMBER']]

In [38]:
df1.columns = ['stoppointid','stage']
df1.dtypes

stoppointid      int64
stage          float64
dtype: object

In [39]:
df1.stage.max()

99.0

In [40]:
df1['stage'] = df1['stage'].fillna(0)

/Users/neilmckimm/anaconda3/lib/python3.6/site-packages/ipykernel_launcher.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/indexing.html#indexing-view-versus-copy
  """Entry point for launching an IPython kernel.

In [41]:
df1.columns

Index(['stoppointid', 'stage'], dtype='object')

In [42]:
df1['stage'][1]

0.0

In [43]:
for i in range(len(df1)):
    if df1['stage'][i] == 0.0:
        df1['stage'][i] = df1['stage'][i-1]
    else:
        continue

/Users/neilmckimm/anaconda3/lib/python3.6/site-packages/ipykernel_launcher.py:3: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/indexing.html#indexing-view-versus-copy
  This is separate from the ipykernel package so we can avoid doing imports until
/Users/neilmckimm/anaconda3/lib/python3.6/site-packages/IPython/core/interactiveshell.py:2963: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/indexing.html#indexing-view-versus-copy
  exec(code_obj, self.user_global_ns, self.user_ns)

In [51]:
df1['stage'] = df1['stage'].astype('int64')

/Users/neilmckimm/anaconda3/lib/python3.6/site-packages/ipykernel_launcher.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/indexing.html#indexing-view-versus-copy
  """Entry point for launching an IPython kernel.

In [54]:
df1.dtypes

stoppointid    int64
stage          int64
dtype: object

In [55]:
df1.to_csv('stages.csv', index=False, header=None)