In [91]:
import pandas as pd

In [92]:
df = pd.read_csv("stops.txt")

In [94]:
df = df.drop(df.index[4685:])

In [95]:
df['stop_id'] = df['stop_id'].str[-4:]
df.head()

  stop_id                       stop_name   stop_lat  stop_lon
0    7612  Davenport Hotel Merrion Street  53.341347 -6.250529
1    0002    Rotunda, Parnell Square West  53.352244 -6.263723
2    0003           Rotunda, Granby Place  53.352309 -6.263811
3    0004       Rotunda, Rotunda Hospital  53.352575 -6.264175
4    0006  Rotunda, Saint Martin's Chapel  53.352749 -6.264454

In [96]:
# Casting stop_id to integers in order to remove the prefixed 0 values
# and to be the same 
df['stop_id'] = df['stop_id'].astype('int64')

In [97]:
df['stop_lat'] = round(df['stop_lat'], 5)
df['stop_lon'] = round(df['stop_lon'], 5)

In [99]:
df2 = pd.read_csv('static_fix.csv', header=None)

In [125]:
cols = ['stopid','name','lat','long']
df3 = pd.DataFrame(columns=cols, index=df.index)
df3

     stopid name  lat long
0       NaN  NaN  NaN  NaN
1       NaN  NaN  NaN  NaN
2       NaN  NaN  NaN  NaN
3       NaN  NaN  NaN  NaN
4       NaN  NaN  NaN  NaN
5       NaN  NaN  NaN  NaN
6       NaN  NaN  NaN  NaN
7       NaN  NaN  NaN  NaN
8       NaN  NaN  NaN  NaN
9       NaN  NaN  NaN  NaN
10      NaN  NaN  NaN  NaN
11      NaN  NaN  NaN  NaN
12      NaN  NaN  NaN  NaN
13      NaN  NaN  NaN  NaN
14      NaN  NaN  NaN  NaN
15      NaN  NaN  NaN  NaN
16      NaN  NaN  NaN  NaN
17      NaN  NaN  NaN  NaN
18      NaN  NaN  NaN  NaN
19      NaN  NaN  NaN  NaN
20      NaN  NaN  NaN  NaN
21      NaN  NaN  NaN  NaN
22      NaN  NaN  NaN  NaN
23      NaN  NaN  NaN  NaN
24      NaN  NaN  NaN  NaN
25      NaN  NaN  NaN  NaN
26      NaN  NaN  NaN  NaN
27      NaN  NaN  NaN  NaN
28      NaN  NaN  NaN  NaN
29      NaN  NaN  NaN  NaN
...     ...  ...  ...  ...
4655    NaN  NaN  NaN  NaN
4656    NaN  NaN  NaN  NaN
4657    NaN  NaN  NaN  NaN
4658    NaN  NaN  NaN  NaN
4659    NaN  NaN  NaN  NaN
4660    NaN  NaN  NaN  NaN
4661    NaN  NaN  NaN  NaN
4662    NaN  NaN  NaN  NaN
4663    NaN  NaN  NaN  NaN
4664    NaN  NaN  NaN  NaN
4665    NaN  NaN  NaN  NaN
4666    NaN  NaN  NaN  NaN
4667    NaN  NaN  NaN  NaN
4668    NaN  NaN  NaN  NaN
4669    NaN  NaN  NaN  NaN
4670    NaN  NaN  NaN  NaN
4671    NaN  NaN  NaN  NaN
4672    NaN  NaN  NaN  NaN
4673    NaN  NaN  NaN  NaN
4674    NaN  NaN  NaN  NaN
4675    NaN  NaN  NaN  NaN
4676    NaN  NaN  NaN  NaN
4677    NaN  NaN  NaN  NaN
4678    NaN  NaN  NaN  NaN
4679    NaN  NaN  NaN  NaN
4680    NaN  NaN  NaN  NaN
4681    NaN  NaN  NaN  NaN
4682    NaN  NaN  NaN  NaN
4683    NaN  NaN  NaN  NaN
4684    NaN  NaN  NaN  NaN

[4685 rows x 4 columns]

In [128]:
j=0
for i in range(len(df)):
    if df['stop_id'][i] not in df2[3].unique():
        df3['stopid'][j] = df['stop_id'][i]
        df3['name'][j] = df['stop_name'][i]
        df3['lat'][j] = df['stop_lat'][i]
        df3['long'][j] = df['stop_lon'][i]

    j+=1

In [130]:
df3 = df3.dropna()

In [134]:
df3.index = range(len(df3))

In [148]:
for i in range(len(df3)):
    if df3['shortname'][i] == None:
        df3['shortname'][i] = df3['longname'][i]
    elif df3['longname'][i] == None:
        df3['longname'][i] = df3['shortname'][i]

/Users/neilmckimm/anaconda3/lib/python3.6/site-packages/IPython/core/interactiveshell.py:2963: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/indexing.html#indexing-view-versus-copy
  exec(code_obj, self.user_global_ns, self.user_ns)

In [153]:
df3 = df3.drop(['name'], axis=1)

In [157]:
df3.to_csv('missing_stop_data.csv', header=None, index=False)

In [159]:
df3 = pd.read_csv('missing_stop_data.csv')
df3

,278,53.35135,-6.26116,Dublin,Cathal Brugha Street
0,312,53.34548,-6.26621,Temple Bar,Wellington Quay
1,315,53.34693,-6.26208,Dublin,Bachelors Walk
2,342,53.34556,-6.25680,Trinity College,Trinity College
3,405,53.34248,-6.25560,Trinity College,South Frederick's Street
4,407,53.34838,-6.25388,Custom House Quay,Custom House Quay
5,408,53.34097,-6.25002,Merrion Square North,Merrion Square North
6,409,53.34014,-6.24770,Merrion Square,Holles Street
7,412,53.33526,-6.23728,Dublin City South,Northumberland Road
8,414,53.33152,-6.23460,Ballsbridge,Northumberland Road
9,416,53.32864,-6.22937,Ballsbridge,Merrion Road RDS
10,418,53.32572,-6.22340,Ballsbridge,British Embassy
11,422,53.31806,-6.21032,Merrion,Saint Vincent's Hospital
12,478,53.31811,-6.21127,Merrion,Saint Vincent's Hospital
13,482,53.32473,-6.22197,Ballsbridge,Merrion Road
14,483,53.32600,-6.22394,Ballsbridge,Merrion Road
15,485,53.32835,-6.22875,Ballsbridge,Merrion Road RDS
16,486,53.32840,-6.22887,Ballsbridge,Merrion Road RDS
17,487,53.33080,-6.23387,Ballsbridge,American Embassy
18,489,53.33494,-6.23735,Dublin City South,Northumberland Road
19,490,53.33663,-6.23883,Dublin City South,Northumberland Road
20,494,53.34134,-6.25163,Clare Street,Clare Street
21,496,53.34948,-6.25231,Busáras,Busáras
22,497,53.35053,-6.25069,Outside Connolly Station,Outside Connolly Station
23,592,53.38272,-6.14853,Dublin Road (James Larkin Road),Dublin Road (James Larkin Road)
24,675,53.35286,-6.24853,Amiens Street Junction Upper Sheriff Str,Amiens Street Junction Upper Sheriff Str
25,760,53.31833,-6.23056,Donnybrook,Church of the Sacred Heart
26,773,53.31992,-6.23327,Donnybrook,Donnybrook Road
27,786,53.33515,-6.25617,Dublin City South,Lower Leeson Street
28,790,53.33931,-6.25793,St Stephens Green North,St Stephens Green North
29,792,53.34060,-6.25849,Dublin City South,Dawson Street
...,...,...,...,...,...
207,3139,53.23006,-6.12409,Shankill,Bray Road
208,3140,53.22974,-6.12427,Shankill,Dublin Road
209,3143,53.24269,-6.13082,Loughlinstown,Loughlinstown Hospital
210,4391,53.30521,-6.21875,Belfield,Campus
211,4571,53.28883,-6.19482,Stillorgan,Stillorgan Road (Stillorgan Park)
212,4727,53.29081,-6.19778,Stillorgan,Laurence Park
213,4848,53.27781,-6.21806,Sandyford,Blackthorn Drive (Blackthorn Road)
214,5127,53.26202,-6.15041,Cabinteely,Maple Manor
215,5128,53.26553,-6.15774,Cabinteely,Cornelscourt Shopping Centre
216,7362,53.26590,-6.15774,Cabinteely,Cabinteely Bypass (Opp Cornelscourt)
217,7372,53.25447,-6.17229,Cornelscourt,Glenamuck Rd (LUAS Station)
218,7375,53.27286,-6.22854,Sandyford Road (M50 Bridge),Sandyford Road (M50 Bridge)
219,3960,53.36695,-6.49747,Leixlip,Maynooth Road
220,3962,53.36942,-6.50610,Leixlip,Outside Train Station
221,3989,53.36951,-6.50587,Leixlip,Outside Train Station
222,3990,53.36780,-6.49983,Leixlip,Maynooth Road
223,7314,53.36546,-6.52208,Easton Road (Outbound at Beechpark),Easton Road (Outbound at Beechpark)
224,4131,53.20653,-6.11143,Bray (Wicklow),Castle Street
225,4150,53.20012,-6.11059,Bray,Market House
226,4153,53.20481,-6.10947,Main Street (Quinnsborough Road),Main Street (Quinnsborough Road)
227,4154,53.20665,-6.11219,Bray (Wicklow),Castle Street
228,4171,53.20049,-6.11145,Bray,Killarney Road (Vevay Road)
229,4175,53.18890,-6.12632,Bray,St.Fergals Church
230,4178,53.18824,-6.12723,Bray,Killarney Road (Glenthorn)
231,4182,53.20026,-6.11193,Bray,Market House
232,4224,53.14395,-6.06107,Greystones,Outside Train Station
233,4533,53.16954,-6.13654,Kilmacanogue,Rock Valley
234,6000,53.17044,-6.13649,Kilmacanogue,Rock Valley
235,7294,53.20405,-6.10931,Main Street (Quinnsborough Road),Main Street (Quinnsborough Road)
236,7365,53.18532,-6.10459,Southern Cross Road (Earlsfort),Southern Cross Road (Earlsfort)